<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pritesh.listviewwithcheckbox">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".CustomBranchIOApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Notifications">
        </activity>
        <activity android:name=".PhoneEmailActivity">
        </activity>

        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="@string/branch_key_test"/>

        <receiver
            android:name="io.branch.referral.InstallListener"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".BranchIOTestActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <data android:scheme="tddpl"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".VolleyNetworkCallActivity"
            android:label="Volley Network Call">
        </activity>
        <activity
            android:name=".CreditCardScanActivity"
            android:label="Credit Card Scan">
        </activity>
        <activity android:name=".OrhanobutLoggerActivity"
            android:label="Orhanobut Logger">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>